.QuoterContent{
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 82vh;
    place-items: center;
    width: min(100%,450px);
    padding: 170px 30px 0 30px;
    margin: auto  ;
}

.infogalax{

    font-size: 1.4rem;
    font-family: 'Space Mono', monospace;
    letter-spacing: .4em;
    color: hsl(0, 0%, 100%, 100%);
    text-align: center;
    
}
.contentbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}
.phrase{
 min-height: 90px;    
 min-width: 150px;
 border-radius: 25px 25px;
 background: rgba(251, 247, 241, 0.644) ;
 color:rgb(226, 235, 244);
 margin-bottom:  10px;
 padding: 2px 5px;
  animation: animat 2s linear infinite;
}
.phrase p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    text-align:center;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    
}
.btn{
    
    background: rgb( 251, 247, 241, .644) ;
    cursor:pointer;
    border:none;
    border-radius: 100%;
    width: 55px;
    aspect-ratio: 1;
    margin: 20px auto;
    padding: 10px 22px;
    position: relative;
    

}

.bx-revision{
    font-size: 30px;
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.btn::before{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    z-index: -1;
    background: linear-gradient( 
        -45deg,
        red,blue,deeppink,rgb(3, 241, 3),blue,
        red,blue,deeppink,rgb(3, 241, 3),blue);
    background-size: 800%;
    border-radius: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    filter: blur(8px);
    animation: glowing 20s linear infinite;   

}


.footer__autor{
    align-items: end;
    background: rgb( 251, 247, 241, .644);
    box-shadow: 1px -5px 4px 6px rgba(247, 147, 222, 0.393), 0 0 0 0 rgba(234, 129, 202, 0.365);
    border-radius: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
    width: min(150px,450px);
    margin: auto;
}

.footer__autor h4 {
    font-size: .85rem;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;
    padding: 40px 20px;
    text-align:center;
}

/* sentence animation*/
@keyframes glowing{
    0% {
        background-position: 0 0;
    }
    50%{
        background-position: 400% 0;
    }
    100%{
        background-position: 0 0;
    }
}
/*magic buttón*/
@keyframes animat{
    0%{
       
        box-shadow:0 0 0 0 rgb( 251, 247, 241, .644),0 0 0 0 rgb( 251, 247, 241, .644);
    }
    25%{
        box-shadow:0 0 0 20px rgba(184, 181, 178, 0),0 0 0 0 rgba(184, 181, 178, .6);
        
    }
    50%{
        box-shadow:0 0 0 20px rgb( 251, 247, 241, 0),0 0 0 30px rgb( 251, 247, 241, 0);
        
    }
    100%{
        box-shadow:0 0 0 0 rgb( 251, 247, 241, 0),0 0 0 30px rgb( 251, 247, 241, 0);
        
    }
}
@media (min-width:420px){
    .footer__autor{
        align-items: end;
        background: rgb( 251, 247, 241, .644);
        box-shadow: 1px -5px 4px 6px rgba(247, 147, 222, 0.393), 0 0 0 0 rgba(234, 129, 202, 0.365);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        width: min(200px,550px);
        margin: auto;
    }
    
    .footer__autor h4 {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        padding: 40px 20px;
        text-align:center;
    }
    .infogalax{

        font-size: 1.7rem;
        font-family: 'Space Mono', monospace;
        letter-spacing: .4em;
        color: hsl(0, 0%, 100%, 100%);
        text-align: center;
        
    }
    .QuoterContent{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 82vh;
        place-items: center;
        width: min(100%,450px);
        padding: 170px 10px 0 10px;
        margin: auto  ;
    }
    .btn{
    
        background: rgb( 251, 247, 241, .644) ;
        cursor:pointer;
        border:none;
        border-radius: 100%;
        width: 55px;
        aspect-ratio: 1;
        margin: 20px auto;
        padding: 10px 22px;
        position: relative;
        
    
    }
    
    .bx-revision{
        font-size: 30px;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    

}
@media(min-width:750px){

    .footer__autor{
        align-items: end;
        background: rgb( 251, 247, 241, .644);
        box-shadow: 1px -5px 4px 6px rgba(247, 147, 222, 0.393), 0 0 0 0 rgba(234, 129, 202, 0.365);
        border-radius: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        width: min(200px,550px);
        margin: auto;
    }
    
    .footer__autor h4 {
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        flex-direction: column;
        padding: 40px 20px;
        text-align:center;
    }
    .infogalax{

        font-size: 3rem;
        font-family: 'Space Mono', monospace;
        letter-spacing: .4em;
        color: hsl(0, 0%, 100%, 100%);
        text-align: center;
        
    }
    .QuoterContent{
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 82vh;
        place-items: center;
        width: min(100%,600px);
        padding: 170px 10px 0 10px;
        margin: auto  ;
    }
    .btn{
    
        background: rgb( 251, 247, 241, .644) ;
        cursor:pointer;
        border:none;
        border-radius: 100%;
        width: 50px;
        aspect-ratio: 1;
        margin: 20px auto;
        padding: 10px 22px;
        position: relative;
        
    
    }
    
    .bx-revision{
        font-size: 35px;
         display: flex;
        flex-direction: column;
        justify-content: center;
        align-items:center;
    }
    
    .phrase{
        min-height: 90px;    
        min-width: 150px;
        border-radius: 25px 25px;
        background: rgba(251, 247, 241, 0.644) ;
        color:rgb(226, 235, 244);
        margin-bottom:  10px;
        padding: 2px 5px;
         animation: animat 2s linear infinite;
       }
       .phrase p {
           display: flex;
           justify-content: center;
           align-items: center;
           flex-direction: column;
           color: black;
           text-align:center;
           font-size: 1.3rem;
           font-family: 'Poppins', sans-serif;
           
       }
}
